/* 
#back {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-bottom: 100vh;
  background: linear-gradient(to bottom, #b122e5, #be2763);
  z-index: -1; */
/* } */

body {
  height: fit-content;
  background: linear-gradient(to bottom, #b122e5, #be2763);
  font-family: 'Nunito', sans-serif;
}

section {
  min-height: 29vh;
  padding: 0px;
  width: auto;
  left: 0px;
  right: 0px;
}

section:not(.paranormal-section) {
  background: rgba(236, 236, 236, 0.171);
}

*[data-inline] {
  display: inline-block;
}

#paranormal-svg {
  display: inline-block;
  transform: translateX(60vh);
}

#paranormal-h1 {
  display: inline-block;
  transform: translateY(-200%) translateX(60vh);
}

/* img {
  position: absolute;
  max-height: 40vh;
} */

/* img[data-left] {
  left: 0px;
}

img[data-right] {
  right: 0px;
} */